* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    margin: 0;
}

header {
    text-align: center;
    background-color: #881f48;
    color: white;
    margin: 0;
    padding: 1rem 0 0 0;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
    padding: 1rem;

    border: solid red 1px;
}

.server_details {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.server_healthy {
    background-color: rgb(143, 239, 143);
}

.server_unhealthy {
    background-color: rgb(239, 143, 143);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* 

    media query for nav
    - move to left when desktop size
    - above is good for tablet
    - hamburger for mobile
*/
